beautifulsoup4==4.6.0
Django==2.0.3
django-ckeditor==6.0.0
django-cleanup==5.1.0
django-crispy-forms==1.11.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-tables2==2.3.4
mysqlclient==2.0.3
Pillow==5.1.0
pkginfo==1.4.2
