{% extends "layout.html" %}


{% block body %}

<!-------------------------------------------->
<!--------------- rapor grafik---------------->
<!-------------------------------------------->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          '#D3D3D3'
        ],
        label: 'Satış Adetleri'
      }],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Şube satış payı'
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };


  $(function () {

    var $aylikSatisChart = $("#data_aylik_satis");
    $.ajax({
      url: $aylikSatisChart.data("url"),
      success: function (data) {

        var ctx = $aylikSatisChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Adet',
              backgroundColor: 'blue',
              data: data.data
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Aylık satış adetleri'
            }
          }
        });

        // With an explicit size:
        //Chart.resize(500, 300);

      }
    });

  });

</script>
<!-------------------------------------------->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="row" >
  <div class="col-md-2 mb-0" id="container" style="width: 50%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <div class="col-md-2 mb-0" id="container" style="width: 50%;">
    <canvas id="data_aylik_satis" data-url="{% url 'order:data_aylik_satis' %}"></canvas>
  </div>
</div>



<br><br>

<div class="row mb-1">
  <div class="col-md-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static bg-info bg-gradient" align="center">
        <strong class="d-inline-block mb-2 text-white fs-1">{{order.count}}</strong>
        <strong class="d-inline-block mb-2 text-white">Sipariş sayısı </strong>
        
      </div>
      
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static bg-info bg-gradient" align="center">
        <strong class="d-inline-block mb-2 text-white fs-1">{{problems.count}}</strong>
        <strong class="d-inline-block mb-2 text-white">Müşteri şikayet sayısı </strong>
        
      </div>
      
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static bg-info bg-gradient" align="center">
        <strong class="d-inline-block mb-2 text-white fs-1">{{product.count}} </strong>
        <strong class="d-inline-block mb-2 text-white">Ürün sayısı </strong>
        
      </div>
      
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static bg-info bg-gradient" align="center">
        <strong class="d-inline-block mb-2 text-white fs-1">{{workflow.count}} </strong>
        <strong class="d-inline-block mb-2 text-white">İş sayısı </strong>
        
      </div>
      
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <div class="card-header bg-light " style="height: 200px; overflow-y: scroll;">
      <p> Planlanmış işler <span class="badge bg-danger">{{res_today.count}}</span> / <span class="badge bg-warning">{{res_tomorrow.count}}</span></p>
      <table class="table table-sm">
        <thead class="thead-dark"><tr> <th scope="col">Gun</th><th scope="col">Müşteri</th><th scope="col">UrunGrb</th></tr></thead>
        <tbody>
        {% for res in res_today%}
          <tr> <td><a href="/order/reservationView/{{res.id}}">Bugun</a></td><td>{{res.order.customer.customer_name}}</td><td>{{res.urun_grubu.title}}</td></tr>
        {% endfor%}
        {% for res in res_tomorrow%}
          <tr> <td><a href="/order/reservationView/{{res.id}}">Yarın</a></td><td>{{res.order.customer.customer_name}}</td><td>{{res.urun_grubu.title}}</td></tr>
        {% endfor%}
        </tbody>
      </table>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card-header bg-light " style="height: 200px; overflow-y: scroll;">
      <p> Şikayetler <span class="badge bg-danger">{{problems.count}}</span></p>
      <table class="table">
        <thead class="thead-dark"><tr> <th scope="col">Gun</th><th scope="col">Müşteri</th><th scope="col">UrunGrb</th><th scope="col">Mahalle</th></tr></thead>
        <tbody>
        {% for problem in problems%}
          <tr> <td><a href="/order/problemView/{{problem.id}}" >{{ problem.created_date |timesince }}</a></td><td>{{problem.order.customer.customer_name}}</td><td>{{problem.urun_grubu.title}}</td><td>{{ord.sevk_adres.mahalle}}</td></tr>
        {% endfor%}
        
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-header bg-light "style="height: 200px; overflow-y: scroll;">
    <p> Bekleyen Siparişler<span class="badge bg-danger">{{order.count}}</span></p>
    <table class="table">
      <thead class="thead-dark"><tr> 
          <th scope="col">Gun</th>
          <th scope="col">Müşteri</th>
          <th scope="col">Sip.Tipi</th>
          <th scope="col">Mahalle</th></tr></thead>
      <tbody>
      {% for ord in order%}
        <tr> <td><a href="/order/orderView/{{ord.id}}" >{{ ord.create_date |timesince }}</a></td><td>{{ord.customer.customer_name}}</td><td>{{ord.order_type}}</td><td>{{ord.sevk_adres.mahalle}}</td></tr>
      {% endfor%}
      
      </tbody>
    </table>
    </div>
  </div>
</div>
<br><br>
{% if perms.user.workflow_operasyon %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header bg-light ">
      
      <div class="row">
        <div class="col-sm-8">
          <h4 class="card-title">OPERASYON  
            <button type="button" class="btn btn-primary btn-sm">
              iş adedi: <span class="badge badge-light">{{operasyon_jobs.count }}</span>
            </button>
          </h4>
        </div>
        <div class="col-sm-4" align="right">
          <div class="btn-group">
            <a href="/order/dashboard/ope/active" class="btn btn-outline-dark btn-sm active" >Active </a>
            <a href="/order/dashboard/ope/all" class="btn btn-outline-dark btn-sm">Hepsi</a>
            <a href="/order/dashboard/ope/tamamlandi" class="btn btn-outline-dark btn-sm">Tamamlandi</a>
          </div>
        </div>
      </div>
      
    </div>

 
    <div class="table-full-width table-responsive px-0 card-body">

      {% if operasyon_jobs %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">Workflow id</th>
            <th class="border-0" scope="col">Durum</th>
            <th class="border-0" scope="col">Tarih</th>
            <th class="border-0" scope="col">Order ID</th>
            <th class="border-0" scope="col">Açıklama</th>
            <th class="border-0" scope="col">Müşteri</th>
            <th class="border-0" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for job in operasyon_jobs %}
              <tr>
                <td scope="row"><a href="/order/workflowView/{{job.id}}">{{job.id}}</a></td>
                <td>{{job.status}}</td>
                <td>{{job.created_date}}</td>
                <td><a href="/order/orderView/{{job.order.id}}">{{job.order.id}}</td>
                <td>{{job.order.content|safe}}</td>
                <td>{{job.order.customer.customer_name}}</td>
                
                <td>
                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Aksiyon
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      
                      <li><a class="dropdown-item" href="/order/workflowStatuUpdate/{{job.id}}/16">Montaj başladı</a></li>
                      <li><a class="dropdown-item" href="/order/workflowStatuUpdate/{{job.id}}/17">Montaj durdu</a></li>
                      <li><a class="dropdown-item" href="/order/workflowStatuUpdate/{{job.id}}/18">Montaj tamamlandı</a></li>
                      
                    </ul>
                  </div>
                  
              </tr>
            {% endfor %}
          
      
        </tbody>
      </table>
    {%else%}
      <div class="alert alert-danger">
          Bekleyen iş yok
      </div>
    {% endif %}
  </div>
  </div>
</div>
{% endif%}
<br><br>

{% if perms.user.workflow_planlama %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      
      <div class="row">
        <div class="col-sm-8">
          <h4 class="card-title">PLANLAMA  
            <button type="button" class="btn btn-primary btn-sm">
              iş adedi: <span class="badge badge-light">{{planlama_jobs.count }}</span>
            </button>
          </h4>
        </div>
        <div class="col-sm-4" align="right">
          <div class="btn-group">
            <a href="/order/dashboard/plan/active" class="btn btn-outline-dark btn-sm active" >Active </a>
            <a href="/order/dashboard/plan/all" class="btn btn-outline-dark btn-sm">Hepsi</a>
            <a href="/order/dashboard/plan/tamamlandi" class="btn btn-outline-dark btn-sm">Tamamlandi</a>
          </div>
        </div>
      </div>
  </div>
  <div class="table-full-width table-responsive px-0 card-body">


      {% if planlama_jobs %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">Workflow id</th>
            <th class="border-0" scope="col">Durum</th>
            <th class="border-0" scope="col">Tarih</th>
            <th class="border-0" scope="col">Order ID</th>
            <th class="border-0" scope="col">Açıklama</th>
            <th class="border-0" scope="col">Müşteri</th>
            <th class="border-0" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for job in planlama_jobs %}
              <tr>
                <td scope="row"><a href="/order/workflowView/{{job.id}}">{{job.id}}</a></td>
                <td>{{job.status}}</td>
                <td>{{job.created_date}}</td>
                <td><a href="/order/orderView/{{job.order.id}}">{{job.order.id}}</td>
                <td>{{job.order.content|safe}}</td>
                <td>{{job.order.customer.customer_name}}</td>
                
                <td>
                  {% if job.status_id == 24 %}
                     
                      <a href="/order/dosyaEkle/{{job.order_id}}/{{job.id}}"><button class="btn btn-primary btn-sm">Dosya Ekle</button></a>
                  {% else %}
                      <a href="/order/workflowPlanla/{{job.id}}"><button class="btn btn-primary btn-sm">Planla</button></a>
                      <a href="/order/workflowStatuUpdate/{{job.id}}/13"><button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Müşteriden haber bekleniyor">MHB</button></a>
                      
                  {% endif %}
<!--
                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Aksiyon
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="/order/workflowPlanla/{{job.id}}">Planla</a></li>
                      <li><a class="dropdown-item" href="/order/workflowStatuUpdate/{{job.id}}/13">Müşt. Hab. Bekleniyor</a></li>
                      <li><a class="dropdown-item" href="/order/dosyaEkle/{{job.order_id}}/{{job.id}}">Dosya Ekle</a></li>
                    </ul>
                  </div>
-->
                 </td>
                
              </tr>
            {% endfor %}
          
      
        </tbody>
      </table>
    {%else%}
      <div class="alert alert-danger">
          Bekleyen iş yok
      </div>
    {% endif %}
  </div>
  </div>
</div>
{%endif%}
<br><br>

{% if perms.user.workflow_uretim %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      

      <div class="row">
        <div class="col-sm-8">
          <h4 class="card-title">ÜRETİM  
            <button type="button" class="btn btn-primary btn-sm">
              iş adedi: <span class="badge badge-light">{{uretim_jobs.count }}</span>
            </button>
          </h4>
        </div>
        <div class="col-sm-4" align="right">
          <div class="btn-group">
            <a href="/order/dashboard/uretim/active" class="btn btn-outline-dark btn-sm active" >Active </a>
            <a href="/order/dashboard/uretim/all" class="btn btn-outline-dark btn-sm">Hepsi</a>
            <a href="/order/dashboard/uretim/tamamlandi" class="btn btn-outline-dark btn-sm">Tamamlandi</a>
          </div>
        </div>
      </div>

    </div>
  <div class="table-full-width table-responsive px-0 card-body">


      {% if uretim_jobs %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">Workflow id</th>
            <th class="border-0" scope="col">Durum</th>
            <th class="border-0" scope="col">Tarih</th>
            <th class="border-0" scope="col">Order ID</th>
            <th class="border-0" scope="col">Açıklama</th>
            <th class="border-0" scope="col">Müşteri</th>
            <th class="border-0" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for job in uretim_jobs %}
              <tr>
                <td scope="row"><a href="/order/workflowView/{{job.id}}">{{job.id}}</a></td>
                <td>{{job.status}}</td>
                <td>{{job.created_date}}</td>
                <td><a href="/order/orderView/{{job.order.id}}">{{job.order.id}}</td>
                <td>{{job.order.content|safe}}</td>
                <td>{{job.order.customer.customer_name}}</td>
                
                <td><a href="/order/workflowCompleted/{{job.id}}"><button class="btn btn-outline-dark btn-sm">Tamamla</button></a></td>
                
              </tr>
            {% endfor %}
          
      
        </tbody>
      </table>
    {%else%}
      <div class="alert alert-danger">
          Bekleyen iş yok
      </div>
    {% endif %}
  </div>
  </div>
</div>
{%endif%}
<br><br>

{% if perms.user.workflow_depo %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      
      
      <div class="row">
        <div class="col-sm-8">
          <h4 class="card-title">DEPO  
            <button type="button" class="btn btn-primary btn-sm">
              iş adedi: <span class="badge badge-light">{{depo_jobs.count }}</span>
            </button>
          </h4>
        </div>
        <div class="col-sm-4" align="right">
          <div class="btn-group">
            <a href="/order/dashboard/depo/active" class="btn btn-outline-dark btn-sm active" >Active </a>
            <a href="/order/dashboard/depo/all" class="btn btn-outline-dark btn-sm">Hepsi</a>
            <a href="/order/dashboard/depo/tamamlandi" class="btn btn-outline-dark btn-sm">Tamamlandi</a>
          </div>
        </div>
      </div>

    </div>
    <div class="table-full-width table-responsive px-0 card-body">


      {% if depo_jobs %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">Workflow id</th>
            <th scope="col">Durum</th>
            <th scope="col">Tarih</th>
            <th scope="col">Order ID</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Müşteri</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for job in depo_jobs %}
               
                  <tr>
                    <td scope="row"><a href="/order/workflowView/{{job.id}}">{{job.id}}</a></td>
                    <td>{{job.status}}</td>
                    <td>{{job.created_date}}</td>
                    <td><a href="/order/orderView/{{job.order.id}}">{{job.order.id}}</td>
                    <td>{{job.order.content|safe}}</td>
                    <td>{{job.order.customer.customer_name}}</td>
                    
                    <td><a href="/order/workflowCompleted/{{job.id}}"><button class="btn btn-outline-dark btn-sm">Tamamla</button></a></td>
                    
                  </tr>
               
            {% endfor %}
          
      
        </tbody>
      </table>
    {%else%}
      <div class="alert alert-danger">
          Bekleyen iş yok
      </div>
    {% endif %}
  </div>
</div>
</div>
{%endif%}

<br><br>
{% endblock body %}