{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div >
  
  <div class="row">
      
      <div class="col-sm-4">
          <h3>Sipariş Listesi
          <a href="/order/orderAdd3">
            <button class="btn btn-success btn-rounded btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>  EKLE
            </button>
          </a>
          
        </h3>
      </div>
      <div class="col-sm-3 row " align="right">
        <form>
          {% csrf_token %}
          <input type="text" name="keyword" class="input-sm" placeholder="Ara...">
          <button type="submit" class="btn btn-outline-secondary btn-sm"> >></button>
        </form>
      </div>

      <div class="col-sm-5" align="right">
          <div class="btn-group">
            <a href="/order/orderList/active" class="btn btn-outline-dark btn-sm " aria-current="page">Aktif </a>
            <a href="/order/orderList/all" class="btn btn-outline-dark btn-sm">Hepsi</a>
            <a href="/order/orderList/musteride" class="btn btn-outline-dark btn-sm">M.bekleniyor</a>
            <a href="/order/orderList/tamamlandi" class="btn btn-outline-dark btn-sm">Tamamlandi</a>
          </div>
      </div>
  </div>
  
</div>


<div>
  <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Müşteri</th>
          <th scope="col">Tarih</th>
          <th scope="col">Durum</th>
          <th scope="col" style="width: 20%;">Aksiyon</th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
            <tr >
              <th scope="row">{{order.id}}</th>
              <td><a href="/order/orderView/{{order.id}}">{{order.customer|truncatechars:30}}</a></td>
              <td  >{{order.create_date|date:'d-m-Y'}}</td>
              <td>{{order.statu.title}}</td>
                           
              <td>
                <a href="/order/orderSiparisFisi/{{order.id}}" target="popup" onclick="window.open('/order/orderSiparisFisi/{{order.id}}','popup','width=600,height=600'); return false;"><button class="btn btn-outline-dark" title="Göster">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
                </button></a>
                <a href="/order/orderUpdate/{{order.id}}">
                  <button class="btn btn-outline-warning" title="Güncelle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg></button></a>
                <a href="/order/orderDelete/{{order.id}}" onclick="return confirm('Silmek istediğinize emin misiniz?')"><button class="btn btn-outline-danger" title="Sil">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                  <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                  </svg></button>
                </a>
                
              </td>
            </tr>
          {% endfor %}
        </tbody>
  </table>
</div>


{% endblock body %}