{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="form-group col-md-2 mb-0">
    <h4> Sipariş Girişi</h4>   
    </div>
    <div class="form-group col-md-2 mb-0">
        
                
                <a href="/order/customerAdd" target="_blank">
                    <button class="btn btn-success btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                      </svg>  Müşteri EKLE
                    </button>
                  </a>
                
        
    </div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script>

    $(document).ready(function () {
            $('#tahmini_tarih_min').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: true,
                keepOpen: true,
                allowInputToggle: true,
                
                ignoreReadonly: true,
                showTodayButton: true,
                viewMode: 'days'
            });
            $('#id_tahmini_tarih_max').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: true,
                keepOpen: true,
                allowInputToggle: true,
                
                ignoreReadonly: true,
                showTodayButton: true,
                viewMode: 'days'
            });
            $('#divEndDate').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false,
                keepOpen: true,
                allowInputToggle: true,
                maxDate: new Date(),
                ignoreReadonly: true,
                showTodayButton: true,
                viewMode: 'days'
            });
            $('#id_tahmini_tarih_min').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: true,
                keepOpen: true,
                allowInputToggle: true,
                
                ignoreReadonly: true,
                showTodayButton: true,
                viewMode: 'days'
            });
            

    });
    
    </script>
    <br>
    

    <form method="post" enctype="multipart/form-data" id="orderProductForm" data-product-url="{% url 'order:ajax_productDropList' %}" data-product-url2="{% url 'order:ajax_colorList' %}"   data-product-url3="{% url 'order:ajax_categoryDropList' %}">
        {% csrf_token %}
        {{ product_formset.management_form}}
        {{ form.media }}

        <div class="row">
            <div class="form-group col-md-2 mb-0">
              {{ form.customer|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
              
            </div>
            <div class="form-group col-md-2 mb-0">
                

            </div>
            <div class="form-group col-md-2 mb-0">
              
               <!--
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">VAR/YOK</label>
                  </div>
                  -->
               
                  
            </div>
            <div class="form-group col-md-2 mb-0">
                
            </div>
        </div>
        <br>
        <div class="row" >
            <div class="form-group col-md-2 mb-0">
                {{ form.stok|as_crispy_field }}

            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.iskonto|as_crispy_field }}

            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.planlama_sekli|as_crispy_field }}

            </div>
            <div  class="form-group col-md-2 mb-0">
                Tahmini en erken tarih  <br>
                <input type="date" name="tahmini_tarih_min" class="input-sm" placeholder="Tarih">
            </div>
            <div  class="form-group col-md-2 mb-0">
            
                Tahmini en geç tarih  <br>
                <input type="date" name="tahmini_tarih_max" class="input-sm" placeholder="Tarih">
            </div>      
            
        </div>
        
                
  <hr>
    
    <div class="row">

        <div class="form-group col-md-2 mb-0">
            <h4> Ürün Girişi</h4>   
        </div>
        <div class="form-group col-md-2 mb-0">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/order/productAdd" target="_blank" role="button" aria-controls="offcanvasExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                  </svg>  Ürün EKLE
              </a>
        </div>
    </div>
  <br><br>
        
        <!----------------  product  list start ----------------->
        {%  for  pro_form in product_formset %}
        <div class="row">
            <div  class="col-md-2 mb-0">
                {{ pro_form.urun_grubu|as_crispy_field }}
            </div>
            <div  class="col-md-2 mb-0">
                {{ pro_form.product_category|as_crispy_field }}
            </div>
            <div  class="col-md-2 mb-0">
                {{ pro_form.product|as_crispy_field }}
            </div>
            <div  class="col-md-2 mb-0">
                {{ pro_form.colour|as_crispy_field }}
            </div>
            <div  class="col-md-2 mb-0">
                {{ pro_form.amount|as_crispy_field }}
            </div>
        </div>  
        {% endfor %}
        <!----------------  product  list end----------------->
       
<br><br>

        <div class="row">
            <div class="form-group col-md-9 mb-0">
                {{ form.content|as_crispy_field }}
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="d-grid gap-2 col-md-9">
                <button class="btn btn-primary" >Giriş</button>
            </div>

        </div>

        <br>
        
    </form>
</div>

<script>

    function showCategoryFunction(val,t) { //   t = objenin idsi
        //alert("The input value has changed. The new value is: " + val + t[8]);
        //document.getElementById("id_form-"+t[8]+"-colour").value = val;

        var url = $("#orderProductForm").attr("data-product-url3");  // get the url of the `load_cities` view
        var urun_grubu = document.getElementById("id_form-"+t[8]+"-urun_grubu").value;
        

        $.ajax({                       //  AJAX request oluşturuluyor.  view içinde productDropList çalıştırılır
            url: url,                    // url formdan alınıyor
            data: {
            'urun_grubu': urun_grubu       // urun grubuna bağlı olan ürünlerin kategorilerini getirir.

            },
            success: function (data) {   // data allınır
        
            $("#id_form-"+t[8]+"-product_category").html(data);  // alınan data listeye eklenir
            }
        });

      }


    function myFunction(val,t) { //   t = objenin idsi
        //alert("The input value has changed. The new value is: " + val + t[8]);
        //document.getElementById("id_form-"+t[8]+"-colour").value = val;

        var url = $("#orderProductForm").attr("data-product-url");  // get the url of the `load_cities` view
        //var url = "/order/ajax/productDropList/";
        
        if ( t[10] == "u" ){    //urun grubu change olmuş
            var urun_grubu = val;  // urun grubu değeri alınır
            //var marka = document.getElementById("id_form-"+t[8]+"-marka").value;
            var kategori = document.getElementById("id_form-"+t[8]+"-product_category").value;
            
        }else {                 //kategori change olmuş
            var urun_grubu = document.getElementById("id_form-"+t[8]+"-urun_grubu").value;
            //var marka = val ;
            var kategori = val;

        }
        

        $.ajax({                       //  AJAX request oluşturuluyor.  view içinde productDropList çalıştırılır
            url: url,                    // url formdan alınıyor
            data: {
            'urun_grubu': urun_grubu ,      // add the country id to the GET parameters
            //'marka': marka 
            'kategori':kategori
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            //$("#id_product").html(data);  // replace the contents of the city input with the data that came from the server
            $("#id_form-"+t[8]+"-product").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

      }
      //    kategori için burası güncellenecek
      //    view içinde categoryDropList çalıştırılıyor
      function colorFunction(val,t) { //   t = objenin idsi
        var url = $("#orderProductForm").attr("data-product-url3");  // formdan url alınıyor
        
        var product_id = document.getElementById("id_form-"+t[8]+"-product").value;
        
        $.ajax({                       // ajax request oluşturulur
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'product_id': product_id       // add the country id to the GET parameters
            
            },

            success: function (data) {   // `data` is the return of the `load_cities` view function
            //$("#id_product").html(data);  // replace the contents of the city input with the data that came from the server
            $("#id_form-"+t[8]+"-colour").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
        alert(data);

      }



      //    renk için burası güncellenecek
      //    view içinde colorList çalıştırılıyor
      function colorFunction(val,t) { //   t = objenin idsi
        var url = $("#orderProductForm").attr("data-product-url2");  // formdan url alınıyor
        
        var product_id = document.getElementById("id_form-"+t[8]+"-product").value;
        
        $.ajax({                       // ajax request oluşturulur
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'product_id': product_id       // add the country id to the GET parameters
            
            },

            success: function (data) {   // `data` is the return of the `load_cities` view function
            //$("#id_product").html(data);  // replace the contents of the city input with the data that came from the server
            $("#id_form-"+t[8]+"-colour").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
        alert(data);

      }
</script>

{% endblock body %}