{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}



<div class="table-title">
  
  <div class="row">
      
      <div class="col-sm-4">
          <h3><b>Sipariş</b> Listesi
          <a href="http://localhost:8000/order/orderAdd">
            <button class="btn btn-success btn-rounded btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>  EKLE
            </button>
          </a>
        </h3>
      </div>
      <div class="col-sm-8 row " align="right">
      <form>
        <div class="col-sm-4" align="right">
            {% csrf_token %}
            <input type="text" name="keyword" class="input-sm" placeholder="Ara...">
            <button type="submit" class="btn btn-outline-secondary btn-sm"> search</button>
        </div>
        <div class="col-sm-8" align="right">
          <div class="btn-group">
            <a href="/order/orderList/active" class="btn btn-outline-light btn-sm active" aria-current="page">Active </a>
            <a href="/order/orderList/all" class="btn btn-outline-light btn-sm">Hepsi</a>
            <a href="/order/orderList/musteride" class="btn btn-outline-light btn-sm">M.bekleniyor</a>
            <a href="/order/orderList/tamamlandi" class="btn btn-outline-light btn-sm">Tamamlandi</a>
          </div>
        </div>
      </form>
      </div>
      

  </div>
  
</div>



  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Müşteri</th>
          <th scope="col">Tarih</th>
          <th scope="col">Durum</th>
          <th scope="col">Sipariş Tipi</th>
          <th scope="col">Aksiyon</th>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
            <tr>
              <th scope="row">{{order.id}}</th>
              <td><a href="/order/orderView/{{order.id}}">{{order.customer}}</a></td>
              <td>{{order.create_date}}</td>
              <td>{{order.statu.title}}</td>
              <td>{{order.order_type}}</td>
              
              <td>
                <a href="/order/orderUpdate/{{order.id}}"><button class="btn btn-outline-warning">Güncelle</button></a>
                <a href="/order/orderDelete/{{order.id}}"><button class="btn btn-outline-danger">Sil</button></a></td>
            </tr>
          {% endfor %}
        </tbody>
  </table>
</div>


{% endblock body %}