{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}

{% if order %}
<div class="row mb-1">
  
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static" style="height:180px;">
        
        
        <strong class="d-inline-block mb-2 text-primary">
            Sipariş ID: {{order.id}}    {{order.statu}}  
            
          </strong>
        
        <h3 class="mb-0">{{order.customer.customer_name}}</h3>
        <div class="mb-1 text-muted">{{order.created_date}}</div>
        <p class="card-text mb-auto">Açıklama: {{order.content|safe}}</p>
        <a href="/order/customerView/{{order.customer.id}}" class="stretched-link">Müşteri Detay</a>
      </div>
      
      <div class="progress">
        
        <div class="progress-bar" role="progressbar" style="width: {{ tamamlanma_orani}}%;" aria-valuenow="{{ tamamlanma_orani}}" aria-valuemin="0" aria-valuemax="100">{{ tamamlanma_orani}}%</div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="height:180px;">
            <h5 class="mb-0">İletişim</h5> <br>
            <div >email : {{order.customer.email}}</div> 
            <div class="mb-1 text-muted">Telefon:{{order.customer.telephone}}</div> 
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="height:180px;">
          {% if order.order_image.url is not Null %}
          <a href="{{order.order_image.url}}" target="popup" 
          onclick="window.open('{{order.order_image.url}}','popup','width=600,height=600'); return false;">
              <img width="100" height="180"  class="img-fluid rounded" src="{{order.order_image.url}}" alt="">  
          </a>
      {% endif %}
        </div>
    </div>
  </div>


  <!-------------------------------------------------------------------> 
  <!--                               ADRES BÖLÜMÜ                    -->
  <!------------------------------------------------------------------->

  <div class="row mb-1">
    <div class="col-md-6">
      <!--                               SEVK                    -->
      <div class="row mb-1">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
                    
            {% if sevk_adres or sevk_adres == 0  %}
              <h3> Sevk Edilecek Adres :</h3>
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Şehir</th>
                        <th scope="col">İlçe</th>
                        <th scope="col">Adres</th>
                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                {% for s in sevk_adres%}
                    <tr>
                    <th scope="row">{{s.id}}</th>                    
                    <td>{{s.il}}</td>
                    <td>{{s.ilce}}</td>
                    <td>{{s.adres}}</td>
                    <td>
                      {% if order.statu_id == 23 %}
                                <a href="/order/orderAdresSecim/sevk/sil/{{order.id}}/0" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                <button class="btn btn-danger btn-sm">Sil</button></a>
                      {% endif%}
                    
                    </td>
                    </tr>
                  {% endfor %}
              </table>

            {% else %}
                <h3> Sevk Adres Seçimi Yapınız &nbsp;&nbsp;&nbsp;&nbsp; </h3>
                  
                {% if adresler %}
                  <table class="table table-striped table-hover">
                      <thead>
                          <tr>
                              <th scope="col"></th>
                              <th scope="col">Şehir</th>
                              <th scope="col">İlçe</th>
                              <th scope="col">Adres</th>
                              <th scope="col"></th>
                              
                          </tr>
                      </thead>

                  {% for ads in adresler%}
                      <tr>
                      <th scope="row">{{ads.id}}</th>                    
                      <td>{{ads.il}}</td>
                      <td>{{ads.ilce}}</td>
                      <td>{{ads.adres}}</td>
                      
                      <td>
                        {% if order.statu_id == 23 %}
                          <a href="/order/orderAdresSecim/sevk/ekle/{{order.id}}/{{ads.id}}">
                            <button class="btn btn-warning btn-sm">Sec</button></a>

                        {% endif %}
                      </td>
                      </tr>
                  {% endfor%}
                  </table>
                {% endif%}
            {% endif%} 
          </div>
        </div>
      </div>

    </div>  
    <div class="col-md-6">
      <!--                               FATURA                    -->
      <div class="row mb-1">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
                    
            {% if fatura_adres or fatura_adres == 0 %}
              <h3> Fatura Adresi : </h3>
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Şehir</th>
                        <th scope="col">İlçe</th>
                        <th scope="col">Adres</th>
                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                {% for f in fatura_adres%}
                    <tr>
                    <th scope="row">{{f.id}}</th>                    
                    <td>{{f.il}}</td>
                    <td>{{f.ilce}}</td>
                    <td>{{f.adres}}</td>
                    <td>
                      
                      {% if order.statu_id == 23 %}
                                <a href="/order/orderAdresSecim/fatura/sil/{{order.id}}/0" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                <button class="btn btn-danger btn-sm">Sil</button></a>
                      {% endif%}
                    
                    </td>
                    </tr>
                {% endfor %}
            </table>

            {% else %}
                <h3> Fatura Adres Seçimi Yapınız &nbsp;&nbsp;&nbsp;&nbsp; </h3>
                  
                {% if adresler %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Şehir</th>
                            <th scope="col">İlçe</th>
                            <th scope="col">Adres</th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>

                {% for ads in adresler%}
                    <tr>
                    <th scope="row">{{ads.id}}</th>                    
                    <td>{{ads.il}}</td>
                    <td>{{ads.ilce}}</td>
                    <td>{{ads.adres}}</td>
                    <td>
                      {% if order.statu_id == 23 %}
                        <a href="/order/orderAdresSecim/fatura/ekle/{{order.id}}/{{ads.id}}">
                          <button class="btn btn-warning btn-sm">Sec</button></a>
                      {% endif%}
                    </td>
                    </tr>
                {% endfor%}
                </table>
                {% endif%}
              {% endif%} 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-1">

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3> Ürünler &nbsp;&nbsp;&nbsp;&nbsp; 
          {% if order.statu_id == 23 %}
          <a href="/order/orderAddProduct/{{order.id}}">
            <button class="btn btn-success btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>Siparişe Ürün Ekle
            </button>
          </a>
          {% endif %}

        </h3>
        <br><br>
            {% if orderProducts %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Ürün</th>
                            <th scope="col">Renk</th>
                            <th scope="col">Adet</th>
                            <th scope="col">Birim Fiyat</th>
                            <th scope="col">Toplam</th>
                            <th scope="col">Paket</th>
                            <th scope="col">Tipi</th>
                            <td></td>
                        </tr>
                    </thead>
                
                {% for orderProduct in orderProducts%}
                    <tr>
                    <th scope="row">{{orderProduct.id}}</th>                    
                    <td>{{orderProduct.product.product_name}}</td>
                    <td>{{orderProduct.colour}}</td>
                    <td>{{orderProduct.amount}}</td>
                    <td>{{orderProduct.birim_fiyat}}</td>
                    <td>{{orderProduct.toplam_tutar}}</td>
                    <td>{% if orderProduct.orderpackets_id == 0 %}
                          Yok
                        {%else%}
                          {{orderProduct.orderpackets_id}}
                        {%endif%}
                    </td>
                    <td>{{orderProduct.orderpackets.order_type}}</td>
                    <td>
                      {% if order.statu_id == 23 %}
                        <a href="/order/orderDeleteProduct/{{orderProduct.id}}" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                        <button class="btn btn-danger btn-sm">Sil</button></a>
                      {% endif%}
                    </td>
                    
                    </tr>
                  
                {% endfor%}

                </table>

                <! ------------------------------------------------>

                <div class="row mb-1">
                  <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static" style="height:150px;">
                        <h5 class="mb-0">Notlar : </h5> 
                        <p class="card-text mb-auto">{{order.content|safe}}</p>
                        <a href="/order/orderUpdate/{{order.id}}" class="stretched-link">Güncelle</a>
                      </div>
                      
                    </div>
                  </div>
                
                  <div class="col-md-4">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="col p-4 d-flex flex-column position-static"  style="height:150px;" >
                              <h5 class="mb-0">Tahmini Tarih Aralığı</h5><br>
                              <div >En Erken: : {{order.tahmini_tarih_min}}</div> 
                              <div >En Geç: : {{order.tahmini_tarih_max}}</div> 
                          </div>
                      </div>
                  </div>
              
                  <div class="col-md-4">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static"  style="height:150px;">
                          <br>
                            <table border=0>
                                <tr><td>Tutar :</td><td>{{price_sum}}</td></tr>
                                <tr><td>İskonto :</td><td>{{order.iskonto}}%</td></tr>
                                <tr><td>Toplam :</td><td>{{t_tutar}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
              
              </div>




                <! ------------------------------------------------>


                {% if order.statu_id == 23 %}
                <a href="/order/orderApproved/{{order.id}}">
                    <button class="btn btn-warning btn-sm">Siparişi onayla</button>
                </a>
                {%endif%}
            {% endif%}

      </div>        
    </div>
  </div>  
  <br><br>

</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-header bg-light ">
      <h4 class="card-title">Sipariş paketi
        <button type="button" class="btn btn-primary btn-sm">
          Ürün çesidi: <span class="badge badge-light">{{orderProducts.count }}</span>
        </button>

      </h4>
      <p class="card-category"> </p>
    </div>
    <div class="table-full-width table-responsive px-0 card-body">
     {% if orderProducts %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">ID</th>
            <th class="border-0" scope="col">Ürün</th>
            <th class="border-0" scope="col">Paket id</th>
            <th class="border-0" scope="col">Paket tipi</th>
            <th class="border-0" scope="col">Renk</th>
            <th class="border-0" scope="col">Miktar</th>
            <th class="border-0" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for orderProduct in orderProducts %}
              <tr>
                <td scope="row">{{orderProduct.id}}</td>
                <td>{{orderProduct.product.product_name}}</td>
                <td>{{orderProduct.orderpackets_id}}</td>
                <td>{{orderProduct.orderpackets.order_type}}</td>
                <td>{{orderProduct.colour.renk_kodu}}</td>
                <td>{{orderProduct.amount}}</td>
                
                <td> </td>

                  
              </tr>
            {% endfor %}
          
      
        </tbody>
      </table>
     {%else%}
      <div class="alert alert-success">
          Sipariş Paketi oluşturulmamış
      </div>
     {% endif %}
    </div>
  </div>
</div>

<br><br>

<div class="col-md-12">
  <div class="card">
    <div class="card-header bg-light ">
      <h4 class="card-title">Rezervasyonlar
        <button type="button" class="btn btn-primary btn-sm">
          Plan: <span class="badge badge-light">{{reservations.count }}</span>
        </button>

      </h4>
      <p class="card-category"> </p>
    </div>
    <div class="table-full-width table-responsive px-0 card-body">
     {% if reservations %}
      <table class="table-hover table-striped table">
        <thead>
          <tr>
            <th class="border-0" scope="col">ID</th>
            <th class="border-0" scope="col">Başlangıç</th>
            <th class="border-0" scope="col">Bitiş</th>
            <th class="border-0" scope="col">Açıklama</th>
            <th class="border-0" scope="col">Alt paket</th>
            <th class="border-0" scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
              <tr>
                <td scope="row">{{reservation.id}}</td>
                <td>{{reservation.start_date|date:'d-m-Y h:s'}}</td>
                <td>{{reservation.end_date|date:'d-m-Y h:s'}}</td>
                <td>{{reservation.description}}</td>
                <td>{{reservation.order_packet_id}}</td>
                <td><a href="/order/reservationDelete/{{reservation.id}}" onclick="return confirm('Silmek istediğinize emin misiniz?')"><button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Alt Sipariş Paketleri oluşturur">Rezervasyon sil</button></a></td>
                  
              </tr>
            {% endfor %}
          
      
        </tbody>
      </table>
     {%else%}
      <div class="alert alert-success">
          Sipariş Paketi oluşturulmamış
      </div>
     {% endif %}
    </div>
  </div>
</div>

<br><br>

<div class="col-md-12">
    <div class="card">
      <div class="card-header bg-light ">
        <h4 class="card-title">Müşteri Şikayetleri  
          <button type="button" class="btn btn-primary btn-sm">
            Şikayet adedi: <span class="badge badge-light">{{problems.count }}</span>
          </button>

          <a href="/order/problemAdd/{{order.id}}">
            <button class="btn btn-danger btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg> Problem Giriş
            </button>
          </a>
        </h4>
        <p class="card-category"> </p>
      </div>
      <div class="table-full-width table-responsive px-0 card-body">
  
  
        {% if problems %}
          <table class="table-hover table-striped table">
            <thead>
              <tr>
                <th class="border-0" scope="col">ID</th>
                <th class="border-0" scope="col">Oluşturulma Tarihi</th>
                <th class="border-0" scope="col">Kullanıcı</th>
                <th class="border-0" scope="col">Order ID</th>
                <th class="border-0" scope="col">Açıklama</th>
                <th class="border-0" scope="col">Durum</th>
                <th class="border-0" scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                  <tr>
                    <td scope="row"><a href="/order/problemView/{{problem.id}}">{{problem.id}}</a></td>
                    <td>{{problem.created_date}}</td>
                    <td>{{problem.created_user}}</td>
                    <td><a href="/order/orderView/{{problem.order.id}}">{{problem.order}}</a></td>
                    <td>{{problem.description|safe}}</td>
                    <td>{{problem.statu}}</td>
                    
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Aksiyon
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/order/problemView/{{problem.id}}">Göster</a></li>
                          <li><a class="dropdown-item" href="#">B aksiyonu</a></li>
                          <li><a class="dropdown-item" href="#">c Aksiyonu</a></li>
                        </ul>
                      </div>
                      
                  </tr>
                {% endfor %}
              
          
            </tbody>
          </table>
        {%else%}
          <div class="alert alert-success">
              Problem kaydı yok
          </div>
        {% endif %}
      </div>
    </div>
</div>
    
<br><br>
<div class="col-md-12">
    <div class="card">
      <div class="card-header bg-light ">
        <h4 class="card-title">İşlemler      </h4>
        <p class="card-category"> </p>
      </div>
      <div class="table-full-width table-responsive px-0 card-body">
  
        {% if workflows %}
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col">Departman</th>
                      <th scope="col">Açıklama</th>
                      <th scope="col">Durum</th>
                      <th scope="col">Oluşturulma tarihi</th>
                      <th scope="col">Tamamlanma tarihi</th>
                      <th></th>
                      
                  </tr>
              </thead>
          {% for wf in workflows%}
              <tr>
              <!-- wf tıklandığında ne yapılması isteniyor ???-->
              <th scope="row"><a href="/order/workflowView/{{wf.id}}">{{wf.id}}</a></th>                    
              <td>{{wf.department}}</td>
              <td>{{wf.comment}}</td>
              <td>{{wf.status}}</td>
              <td>{{wf.created_date}}</td>
              <td>{{wf.completed_date}}</td>
              <td>
                <a href="/order/workflowStatuUpdate/{{wf.id}}/22" data-toggle="tooltip" data-placement="left" title="Tamamlandı" onclick="return confirm('Tamamlandığına  emin misiniz?')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg></a>

              </td>
              </tr>
          {% endfor%}
          </table>
        {% endif%}
      
    </div>
</div>


<br><br>
<div class="col-md-12">
    <div class="card">
      <div class="card-header bg-light ">
        <h4 class="card-title">Loglar      </h4>
        <p class="card-category"> </p>
      </div>
      <div class="table-full-width table-responsive px-0 card-body">
  
        {% if loglar_order or loglar_wf %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Tarih</th>
                          <th scope="col">Log Tipi</th>
                          <th scope="col">Açıklama</th>
                          <th scope="col">Kullanıcı</th>
                          <th scope="col">Durum</th>
                          <th scope="col">Type ID</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for log in loglar_order %}
                            <tr>
                              <th scope="row">{{log.id}}</th>
                              <td scope="row">{{log.date}}</a></td>
                              <td scope="row">{{log.log_type}}</td>
                              <td scope="row">{{log.aciklama}}</td>
                              <td scope="row">{{log.user.username}}</td>
                              <td scope="row">{{log.status.title}}</td>
                              <td scope="row">{{log.type_id}}</td>
                            </tr>
                          {% endfor %}
                        
                          {% for log in loglar_wf %}
                          <tr>
                            <th scope="row">{{log.id}}</th>
                            <td scope="row">{{log.date}}</a></td>
                            <td scope="row">{{log.log_type}}</td>
                            <td scope="row">{{log.aciklama}}</td>
                            <td scope="row">{{log.user.username}}</td>
                            <td scope="row">{{log.status.title}}</td>
                            <td scope="row">{{log.type_id}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                {% endif%}
      
    </div>
</div>




<br><br>

    {%else%}
    <div class="alert alert-danger">
        Sipariş bulunamadı
    </div>
    {% endif %}


{% endblock body %}