{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div >
        <h3> 
            Ürün Ekleme
                
        </h3>   
        Hoş Geldiniz, {{ request.user.username}}
        <hr>

        
        <form method="post">
            {% csrf_token %}
            <div class="form-group col-md-3 mb-0">
                 {{form|crispy }}
            </div>
           

            <br>
            <button type="submit" class="btn btn-warning">Giriş</button>
        </form>
    </div>


    
</div>
{% endblock body %}