{% extends "layout.html" %}

{% block body %}


<div class="row">
  <div class="row mb-2">
    
    <div class="col-md-6">
        <h3>Ürün Listesi
            <a href="/order/productAdd">
              <button class="btn btn-success btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>  EKLE
              </button>
            </a>
        </h3> 
          
    </div>      
     
    <div class="col-md-6" align="right">
      <form>
          {% csrf_token %}
          <input type="text" name="keyword" class="input-sm" placeholder="Ara...">
          <button type="submit" class="btn btn-info btn-sm"> search</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Kısa Ad</th>
        <th scope="col">Marka</th>
        <th scope="col">Ürün tipi/kategori</th>
        <th scope="col">Montaj Sabiti</th>
        <th scope="col">Eklenme Tarihi</th>
        <th scope="col">Durum</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for product in products %}
          <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.product_name}}</a></td>
            <td>{{product.title}}</td>
            <td>{{product.marka}}</td>
            <td>{{product.product_type}}</td>
            <td>{{product.montaj_sabiti}}</td>
            <td>{{product.created_date}}</td>
            <td>
                {% if product.active == True %}
                    Aktif
                {% else%}
                    Pasif
                {% endif %}
            </td>
            <td><a href="/order/productUpdate/{{product.id}}"><button class="btn btn-warning">Güncelle</button></a></td>
            <td><a href="/order/productDelete/{{product.id}}"><button class="btn btn-danger">Deaktif</button></a></td>
          </tr>
        {% endfor %}
      
  
    </tbody>
  </table>

</div>

  
{% endblock body %}