{% extends "layout.html" %}

{% block body %}

  <div class="row" >
    <div class="col-md-2 mb-0" id="container" style="width: 50%;">
      <canvas id="pie-chart"></canvas>
    
    </div>

    <div class="col-md-2 mb-0" id="container" style="width: 30%;">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
          <canvas id="myChart" ></canvas>
          <script>
          var ctx = document.getElementById('myChart');
          var myChart = new Chart(ctx, {
              type: 'radar',
              data: {
                  labels: ['Montaj', 'Transfer', 'Müşteri', 'İletişim', 'Malzeme', 'Üretim'],
                  datasets: [{
                      label: 'Şikayet Sebepleri(Örnek)',
                      data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 2
                  }]
              },
              
          });
          </script>
    </div>
  </div>
  <div><hr></div>

  <div class="row">
    <div class="col-md-2 mb-0" id="container" style="width: 50%;">
      <canvas id="data_aylik_satis" data-url="{% url 'order:data_aylik_satis' %}"></canvas>
    </div>
    <div class="col-md-2 mb-0" id="container" style="width: 50%;">
      <canvas id="data_aylik_satis_tutar" data-url="{% url 'order:data_aylik_satis_tutar' %}"></canvas>
    </div>
   
  
  </div>
  <hr>
  <div class="row">
      <div class="col-md-2 mb-0" id="container" style="width: 50%;">
        <canvas id="top5_urun_ciro" data-url="{% url 'order:data_aylik_satis_tutar' %}"></canvas>
      </div>
      <div class="col-md-2 mb-0" id="container" style="width: 50%;">
        <canvas id="data_aylik_satis_urun" data-url="{% url 'order:data_aylik_satis_tutar' %}"></canvas>
      </div>

  </div>
    <hr>
  <div class="row"> 
    
  </div>

  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

   
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(255, 205, 86)', '#D3D3D3' ],
          label: 'Satış Adetleri'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Şube satış payı (Örnek)'
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);

    };

 
    $(function () {

      var $aylikSatisChart = $("#data_aylik_satis");
      $.ajax({
        url: $aylikSatisChart.data("url"),
        success: function (data) {

          var ctx = $aylikSatisChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Adet',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Aylık Sipariş Sayısı'
              }
            }
          });

          // With an explicit size:
          //Chart.resize(500, 300);

        }
      });

      var $aylikSatisChart_tutar = $("#data_aylik_satis_tutar");
      $.ajax({
        url: $aylikSatisChart_tutar.data("url"),
        success: function (data) {

          var ctx = $aylikSatisChart_tutar[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'TL',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Aylık Ciro'
              }
            }
          });
        }
      });

      var $aylikSatisChart_urun = $("#data_aylik_satis_urun");
      $.ajax({
        url: $aylikSatisChart_urun.data("url"),
        success: function (data) {

          var ctx = $aylikSatisChart_urun[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels_urun,
              datasets: [{
                label: 'Adet',
                backgroundColor: 'red',
                data: data.data_urun
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Aylık Satılan Urun'
              }
            }
          });
        }
      });

      //top5_urun_ciro
      var $top5_urun_ciro = $("#top5_urun_ciro");
      $.ajax({
        url: $top5_urun_ciro.data("url"),
        success: function (data) {

          var ctx = $top5_urun_ciro[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.urun_adlar,
              datasets: [{
                label: 'TL',
                backgroundColor: 'red',
                data: data.urun_ciro
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'TOP5 Ürün'
              }
            }
          });
        }
      });
    });

  </script>
  {% endblock body %}